@use '../variables' as *;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.battlefield-container {
  flex: 1;
  position: relative;
  background: $bg-primary;
}

#battlefield {
  width: 100%;
  height: 100%;
  display: block;
}

.sidebar {
  width: $sidebar-width;
  background: $bg-secondary;
  border-left: 1px solid $border-color;
  display: flex;
  flex-direction: column;
}

.sidebar-section {
  border-bottom: 1px solid $border-color;
}
